* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: 1s;
}
header {
    width: 1440px;
    height: 80px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
header a {
    text-decoration: none;
    color: black;
}
header .bir {
    width: 168px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
header .bir img {
    width: 38px;
    height: 38px;
}
header .bir a {
    font-size: 25px;
    font-weight: 800;
}
/* *=======ikki======== */
header .ikki {
    width: 388px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .ikki a {
    font-size: 20px;

}
/** =======uch========== */
header .uch {
    width: 172px;
    height: 32px;
}
header .uch button {
    width: 172px;
    height: 32px;
    border: none;
    background-color: #2E4FD7;
    color: white;
    font-size: 15px;
}
header .uch button a {
    color: white;
    margin-right: 10px;
}